WEB_BASE_URL=http://localhost:5173
ADMIN_BASE_URL=http://localhost:5174
API_BASE_URL=http://localhost:3000
STUDENT_ID=23127209
USER_EMAIL=test@eshop.com
USER_PASSWORD=Test1234!
ADMIN_EMAIL=admin@eshop.com
ADMIN_PASSWORD=Admin123!
